/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.outer_frame{
    width: 100%;
}
.wp-block-itmar-pickup-posts {
    width: 100%;
	.unit_hide{
        visibility: hidden;
    }
}

.wp-block-itmar-slide-mv{
    .unit_hide{
        visibility: hidden;
    }
}