/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.outer_frame{
    width: 100%;
}


.wp-block-itmar-slide-mv{
    .unit_hide{
        display: none;
    }
}

.wp-block-itmar-pickup-posts,.swiper-slide{
	width: 100%;
	.unit_hide{
		.wp-block-itmar-design-title,.wp-block-itmar-design-button,.itmar_ex_block{
			visibility: hidden;
		}
	}
	.hide-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		background: #eee;
		background-image: linear-gradient(
			90deg,
			#eee 0px,
			#f5f5f5 40px,
			#eee 80px
		);
		background-size: 200% 100%;
		animation: shimmer 1.5s infinite linear;
	}
}

.swiper-slide{
	.hide-wrapper{
		div{
			visibility: hidden;
		}
	}
} 

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}